body, html {
    width: 100%;
    height: 100%;
}

#root {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-app {
    padding: 15px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1)
}

.chat-body {
    height: 300px;
    overflow: auto;
    padding: 0 15px;
}

.message {
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px 0;
    display: inline-block;
    max-width: 70%;
}

.message .name {
    font-size: 13px;
    font-weight: 600;
}

.message .message-body {
    font-size: 16px;
}

.bot-message {
    background-color: #aac2da;
}

.user-message {
    text-align: right;
    background-color: #abfbb1;
    float: right;
}